
<launch>
    <!-- ===== ARGUMENTS ===== -->
    <arg name="robot_name" default="/simulator"/>
    <arg name="config" default="onr"/>
    <arg name="visualize" default="true"/>


    <!-- ===== NODES ===== -->

    <node name="ipp_belief" pkg="ipp_belief" type="ipp_belief_node" output="screen" >
        <rosparam subst_value="true" file="$(find ipp_belief)/config/$(arg config)/ipp_belief.yaml" />
    </node>

    <node name="ipp_belief_visualizer" ns="ipp_belief" pkg="ipp_belief" type="ipp_belief_visualizer_node" output="screen" respawn="true" if="$(arg visualize)">
        <rosparam subst_value="true" file="$(find ipp_belief)/config/$(arg config)/ipp_belief.yaml" />
    </node>


    <!-- Optionally launch independent RViz -->
    <!-- <arg name="rviz" default="false"/> -->
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ipp_belief)/rviz/ipp_belief_node.rviz" if="$(eval arg('rviz') == true)" /> -->

</launch>
