[submodule "src/trochoids"]
	path = src/trochoids
	url = https://github.com/castacks/trochoids.git
	branch = straight-on-end
[submodule "src/cpu_monitor"]
	path = src/cpu_monitor
	url = https://github.com/castacks/cpu_monitor.git
