<!-- Top level launch file. -->

<launch>
    <arg name="config" default="onr"/>
    <arg name="robot_name_search" default="uav1_search"/>
    <arg name="robot_name_track" default="uav1_track"/>

    <!-- ===== TRANSFORMS ===== -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="local_enu_tf_broadcaster" args="0 0 0 0 0 0 1 world local_enu" />
    
    <arg name="rosbridge" default="false"/>

    <!-- Visualization and Exporting -->
    <arg name="rviz" default="false"/>
    <arg name="rviz_file" default="$(arg config).rviz" />
    <arg name="record_bag" default="false"/>

    <!-- Logging  -->
    <arg name="loglevel" default="info"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find ipp_planners)/config/logging/rosconsole_$(arg loglevel).config"/>
    <arg name="log_plan_metrics" default="false"/>
    <arg name="plan_metrics_csv_file" default="$(find ipp_planners)/plan_metrics.csv"/>
    <arg name="final_path_csv_file" default="$(find ipp_planners)/final_path.csv"/>

    <!-- CPU and Memory Monitor -->
    <arg name="include_cpu_mem_monitor" default="false"/>
    <arg name="cpu_mem_csv_file" default="cpu_monitor.csv"/>
    
    <!-- CPU and Memory Monitor -->
    <group if="$(arg include_cpu_mem_monitor)">
        <include file="$(find cpu_monitor)/launch/cpu_monitor.launch">
            <arg name="save_to_csv" value="true" />
            <arg name="csv_file" value="$(arg cpu_mem_csv_file)" />
        </include>
    </group>
    
    <!-- Rosbag Recording -->
    <group if="$(arg record_bag)">
        <include file="$(find ipp_planners)/launch/record_bag.launch" pass_all_args="true"/>
    </group>

    <!-- Options:  false, simple_ships, firevision -->
    <arg name="sim" default="false"/>

    <!-- If true, sets use_sim_time=true so that nodes will use the /clock topic published by rosbags instead of system time. -->
    <arg name="use_bag_time" default="false"/>
    <param name="use_sim_time" value="$(arg use_bag_time)"/>
    
    <!-- TODO: Simulator Selector -->
    <include file="$(find ipp_planners)/launch/sim_selector.launch" pass_all_args="true">
        <!-- Turn single name into list of names -->
        <arg name="robot_names" value="[$(arg robot_name_search) $(arg robot_name_track)]"/>
    </include>
    
    <!--  Launch the rosbridge to use Webviz -->
    <group if="$(arg rosbridge)">
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    </group>
    
    <include file="$(find ipp_planners)/launch/main_search.launch" pass_all_args="true"/>
    <include file="$(find ipp_planners)/launch/main_track.launch" pass_all_args="true"/>
</launch>
